*.DS_Store
.vercel
.vscode
.env.development.local
/node_modules
/.next
/titan_data/titan_rounds.csv
/titan_data/titan_episodes.csv
/titan_data/wikiScrape.py
/titan_data/.DS_Store
/backup.html
INTERVIEW_STORIES.md
REACT_MIGRATION_GUIDE.md
questions.md
docs/