:root {
	--clr-mid: hsl(290, 10%, 23%);
	--clr-dark: hsl(290, 10%, 15%);
	--clr-light: hsl(290, 9%, 86%);
	--clr-rank1-grad: linear-gradient(
		45deg,
		hsl(45, 70%, 40%),
		hsl(45, 70%, 80%)
	);
	--clr-rank1-text: hsl(45, 70%, 20%);
	--clr-rank2-grad: linear-gradient(45deg, hsl(0, 0%, 60%), hsl(0, 0%, 85%));
	--clr-rank2-text: hsl(0, 0%, 30%);
	--clr-rank3-grad: linear-gradient(
		45deg,
		hsl(30, 60%, 35%),
		hsl(30, 60%, 60%)
	);
	--clr-rank3-text: hsl(30, 60%, 20%);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	--s: 60px;
	--c1: hsl(41.45deg 35.82% 32.24%);
	--c2: hsl(41.45deg 35.82% 28.24%);
	--_g: #0000 83%, var(--c1) 85% 99%, #0000 101%;
	background: radial-gradient(27% 29% at right, var(--_g)) calc(var(--s) / 2)
			var(--s),
		radial-gradient(27% 29% at left, var(--_g)) calc(var(--s) / -2) var(--s),
		radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s) / 2),
		radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s) / -2)
			var(--c2);
	background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

body {
	padding-block: 2rem;

	display: flex;
	flex-flow: column nowrap;
	gap: 4rem;

	color: var(--clr-light);
}

/* --------------------------- */
/*                             */
/*     COMMON COMPONENTS       */
/*                             */
/* --------------------------- */
.section {
	display: flex;
	flex-flow: column nowrap;
}

.section-title {
	width: fit-content;
	padding: 0.375rem 2ch;
	margin: auto;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	text-align: center;
	gap: 1.5ch;

	font-size: 1.125rem;
	color: var(--clr-dark);

	background-color: var(--clr-light);
}

.section-content {
	width: 400px;
	padding: 3rem;
	margin: auto;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 2.25rem;

	/* clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%); */
	background-color: var(--clr-dark);
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);

	text-align: center;
}

.section-row {
	width: 100%;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.widget {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
}

.widget-full {
	width: 100%;
}

.widget-title {
	padding-inline: 1ch;
	padding-block: 0.125rem;
	margin: auto;
	font-weight: bold;
	font-size: 1rem;
	background-color: var(--clr-light);
	color: var(--clr-mid);
}

.widget-content {
	padding-block: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--clr-mid);
	color: var(--clr-light);
}

.widget-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;

	background-color: var(--clr-mid);
	color: var(--clr-light);
}

.widget-value {
	width: fit-content;
	padding-inline: 1ch;

	display: flex;
	align-items: baseline;
	justify-content: center;

	font-size: 2rem;
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	padding-bottom: 0.25rem;
	border-bottom: 1px solid var(--clr-light);
	font-size: var(--tableHeader-fs, 1rem);
}

/* Table row height */
tr:not(:first-of-type) {
	height: var(--tableRow-height);
}

/* --------------------------- */
/*                             */
/*       TITLE PAGE            */
/*                             */
/* --------------------------- */
h1 {
	font-size: 4rem;
}

#appDescription {
	display: block;
	padding: 1.5rem;
	font-size: 1.25rem;
	background-color: var(--clr-mid);
}

/* --------------------------- */
/*                             */
/*       WIN LOSS WIDGET       */
/*                             */
/* --------------------------- */

#winLoss .section-row {
	justify-content: center;
	gap: 2.5rem;
}

#winLoss .widget-content {
	width: 5.5rem;
	height: 5.75rem;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 4rem;
	font-weight: bold;
	padding-block: 0.25rem;
}

/* --------------------------- */
/*                             */
/*        TITAN RANKING        */
/*                             */
/* --------------------------- */

#titanRanking .section-content {
	padding-bottom: 2rem;
}

#titanRanking table {
	--tableRow-height: 4.5rem;
}

/* Titan header */
#titanRanking th:nth-of-type(2) {
	padding-inline: 1rem;
	text-align: left;
}

/* Win-Loss-Tie header */
#titanRanking th:nth-of-type(3) {
	padding-right: 0.5rem;
}

#titanRanking td {
	font-size: 1.125rem;
}

.statTitan {
	padding-inline: 1rem;

	display: flex;
	flex-flow: column nowrap;
	align-items: start;
	justify-content: center;
}

.statValue {
	padding-right: 0.5rem;
	font-size: 1.375rem;
	font-weight: bold;
}

/* tbody > *:not(:first-child) {
	height: 4rem;
} */

.rank {
	width: 7ch;
	height: min-content;
	padding: 0.25rem 1ch;
	border-radius: 6px;

	font-size: 1rem;
	font-weight: bold;
}

.rank1 {
	color: var(--clr-rank1-text);
	background: var(--clr-rank1-grad);
}

.rank2 {
	color: var(--clr-rank2-text);
	background: var(--clr-rank2-grad);
}

.rank3 {
	color: var(--clr-rank3-text);
	background: var(--clr-rank3-grad);
}

/* --------------------------- */
/*                             */
/*        TITAN CARD           */
/*                             */
/* --------------------------- */
.section-title-name {
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
}

.section-title-name h2 {
	font-size: 1.125rem;
}

.titanCard .section-content {
	padding-bottom: 2rem;
}

.titanCard-ingredientList {
	flex-flow: column nowrap;
	align-items: start;
	text-align: left;

	font-size: 1rem;
	font-weight: normal;
}

.titanCard-ingredientList ul {
	margin-top: 0.25rem;
	list-style-type: none;
}

.titanCard-ingredientList li:first-of-type {
	margin-bottom: 0.25rem;
}

/* --------------------------- */
/*                             */
/*      PER-ROUND TABLE        */
/*                             */
/* --------------------------- */
.titanCard-perRound .widget-Content {
	background-color: var(--clr-dark);
}

.titanCard-perRound table {
	--tableHeader-fs: 0.875rem;
	--tableRow-height: 3rem;
}

/* Widths of columns: (1) Round Num, 
(3) Avg Score, (4) Avg Margin */
.titanCard-perRound th:nth-of-type(1) {
	width: 6ch;
}
.titanCard-perRound th:nth-of-type(3),
.titanCard-perRound th:nth-of-type(4) {
	width: 3.375rem;
}

.histogramCount {
	width: min-content;
	margin: 0.25rem;
	padding-inline-start: 0.5ch;
	padding-block: 0.25rem;
	text-align: left;

	background-color: var(--clr-mid);
}
