.footer {
	width: 100%;
	align-self: stretch;
	margin-top: 2rem;
}

@media (max-width: 600px) {
	.footer {
		margin-top: 0.5rem;
	}
}

.content {
	width: 100%;
	padding: 2.125rem min(2.5rem, 6vw);
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 1.25rem;
	background-color: var(--clr-dark);
	text-align: center;
	border-top: 1px solid var(--clr-border-mid);
	color: var(--clr-text-secondary);
}

.links {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 2.5ch;
}

.link {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	color: var(--clr-text-secondary);
}
