.footer {
	width: 100%;
	margin-top: 2rem;
}

@media (max-width: 600px) {
	.footer {
		margin-top: 0.5rem;
	}
}

.content {
	padding-block: 2.125rem;
	gap: 1.25rem;
	box-shadow: none;
	border: none;
	border-top: 1px solid var(--clr-border-mid);
	border-radius: 0;
	color: var(--clr-text-secondary);
}

.links {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 2.5ch;
}

.link {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	color: var(--clr-text-secondary);
}
